@font-face {
    font-family: 'digital';
    src: url('fonts/wwDigital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} /*font baixada e implementada do site dafont.com*/
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.container{
    display:block;
    position: fixed;
    top: 20%;
    left: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    opacity:0.9;
    border-radius: 15px;
}
.box {
    font-family: 'digital';
    width: 40vw;
    height: 50vh;
    color: #0f0;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center; /*define o espaço dos itens contidos dentro do bloco container no centro (precisa do display flex antes para funcionar)*/
}
